<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Pizzeria Firenze</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <div class="header-title">Pizzeria Firenze</div>
    <div class="nav-buttons">
        <a href="../resto-web/src/main/resources/templates/order.html" class="nav-btn">+</a>
        <a href="#" class="nav-btn">Déconnecter</a>
    </div>
</header>
<!-- MAIN -->
<div class="main main-home">
    <div class="home-buttons">
        <a href="dish.html" class="home-btn">Plats</a>
        <a href="#" class="home-btn">Clients</a>
        <a href="list-order.html" class="home-btn">Commandes</a>
    </div>
</div>
<footer class="footer">
    © Pizzeria Firenze 2026
</footer>
</body>
</html>